<% if @tp.launch_presentation_return_url %>
  <a href="<%= @tp.build_return_url + '&embed_type=oembed&url=http://www.flickr.com/photos/bees/2341623661/&endpoint=http://www.flickr.com/services/oembed/' %>">Click here to return to <%= @tp.tool_consumer_instance_name || "your LMS" %>.</a>
<% end %>