<%= erb :_head, :locals => { :title => 'Code Embed Tool' } %>
<% 
  #content = true 
%>
<div class="container-fluid">
  <div class="row-fluid">
    <div<% unless hide_settings %> class="span10"<% end %>>
      <div id="editor" style="display: none;"><%= content if content %></div>
    </div>
    <% unless hide_settings %>
    <div class="span2" id="settings">
      <!-- put settings panel here -->
      <button class="btn btn-primary" id="save-button" type="button">Save</button>
    </div> <!-- end settings -->
    <% end %>
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
<%= erb :_foot %>
<script>
  $(document).ready(function() {
    var editor = setupEditor();
  });
<% unless hide_settings %>
  $("#save-button").on("click", saveEditor);
  
  function saveEditor() {
    $("#save-button").off("click");
    $("#save-button").addClass("disabled");
    var content = ace.edit("editor").getValue();
    $.ajax({
      url: "/save_editor",
      type: "POST",
      dataType: "json",
      data: {
        content: content,
        placement_id: "<%= placement_id || "null" %>"
      },
      success: function(data) {
        if (data.success) {
          //("Editor saved!");
          if (data.redirect_url) {
            var $input = $('<input name="content" type="hidden" />');
            $input.val(content);
            $('<form action="'+data.redirect_url+'" method="post" />')
                .append($('<input name="content" type="hidden" />').val(content))
                .submit();
          }
        }
        else {
          alert("There was a problem saving the editor.");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("There was a problem saving the editor: " + errorThrown);
      }
    });
  }
<% end %>
</script>