<%= erb :_head, :locals => { :title => 'Code Embed Tool' } %>
<% 
  #placement = true 
%>
<div class="container-fluid">
  <div class="row-fluid">
    <% unless placement %>
    <div class="span2" id="settings">
      <!-- put settings panel here -->
      <button class="btn btn-primary" id="save-button" type="button">Save</button>
    </div> <!-- end settings -->
    <% end %>
    <div<% unless placement %>class="span10" <% end %>>
      <div id="editor" style="display: none;"><%= placement.content if placement %></div>
    </div>
  </div> <!-- end row-fluid -->
</div> <!-- end container-fluid -->
<%= erb :_foot %>
<script>
  $(document).ready(function() {
    var editor = setupEditor();
  });
<% unless placement %>
  $("#save-button").on("click", saveEditor);
  function saveEditor() {
    $.ajax({
      url: "/save_editor",
      type: "POST",
      dataType: "json",
      data: {
        content: ace.edit("editor").getValue(),
        placement_id: "<%= placement_id || "null" %>"
      },
      success: function(data) {
        if (data.success) {
          alert("Editor saved! Redirecting now...");
          if (data.redirect_url) location.href = data.redirect_url;
        }
        else {
          alert("There was a problem saving the editor.");
        }
      }
    });
  }
<% end %>
</script>